<form action="/vegetables/create" method="POST">
	<input type="text" name="vege_name">

	<input type="submit" value="devour">
</form>

<div id="container">
	{{#each vegetables}}
		{{this.vege_name}}
		<hr>
		<br>
	{{/each}}
</div>